{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "node/exports-style": [2, "module.exports"],
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 1,
        "no-unused-vars": ["error", { "varsIgnorePattern": "debug" }]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "mocha": true
    },
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"]
}
